body{
    background-image: url("img/fondo.jpg");
    background-position: center top;
    background-size: 100% auto;
}

.todo{
    background-color: rgba(127, 108, 133, 0.836);
    width: max-content;
    padding: 1%;
    margin: 0 auto;
    border-radius: 5%;
    font-size: 100%;
    font-weight: bold;
}

input:hover{
    color:rgb(255, 255, 255);
    background-color: black;
}

input{
    font-weight: bold;
    border-radius: 5%;
}

button:hover{
    color:rgb(255, 255, 255);
    background-color: black;
}

button{
    font-weight: bold;
    border-radius: 5%;
}

a:hover{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    background-color: black;
}

a{
    text-decoration:none;
    border-color: black;
    background-color: white;
    color: black;
    border-width: 1px;
    border-style: solid;  
    padding: 1%; 
    border-radius: 5%;
}

u{
    font-size: 150%;
}